[Unit]
Description=bitcoind

[Service]
EnvironmentFile=/etc/environment
Environment="IMAGE=olalond3/coreos-bitcoind:master"
Environment="NAME=bitcoind-%i"
Environment="MOUNT_PATH=/data/bitcoin/%i"
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "docker pull $IMAGE"
ExecStartPre=/bin/sh -c "docker inspect $NAME >/dev/null 2>&1 \
  && docker rm -f $NAME || true"
# Mounts /data/bitcoin/%i to /bitcoin (datadir) if it exists
ExecStart=/bin/bash -c "\
set -x; \
[ -e \"$MOUNT_PATH\" ] && EXTRA_FLAGS=\"-v ${MOUNT_PATH}:/bitcoin\"; \
docker run \
  --name $NAME \
  --rm \
  --net=host \
  -e HOST=${COREOS_PRIVATE_IPV4} \
  -e NETWORK=%i \
  $EXTRA_FLAGS \
  $IMAGE \
"
ExecStartPost=/bin/bash -c "etcdctl set /bitcoin/%i/host $COREOS_PRIVATE_IPV4"
ExecStop=-/usr/bin/docker stop $NAME
ExecStopPost=-/bin/bash -c "etcdctl rm /bitcoin/%i/host"
# Restart=on-failure
# RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineID=56ddb55556734ecf9ad91dea154ed058
