[Unit]
Description=bitcoind-livenet

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=olalond3/coreos-bitcoind && docker pull $IMAGE"
ExecStartPre=/bin/sh -c "NETWORK=livenet \
  && docker inspect bitcoind-$NETWORK >/dev/null 2>&1 \
  && docker rm -f bitcoind-$NETWORK || true"
ExecStart=/bin/sh -c "NETWORK=livenet \
  && IMAGE=olalond3/coreos-bitcoind \
  && docker run --name bitcoind-$NETWORK --rm \
    --net=host \
    -e HOST=$COREOS_PRIVATE_IPV4 \
    $IMAGE"
ExecStop=/usr/bin/docker stop bitcoind-livenet
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=bitcoind-livenet.service
